.vscode/**
.vscode-test/**
src/**
formatting/**
!src/features/fileCreation/templates/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
